@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-link {
  position: relative;
  text-decoration: none;
}
.nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: green;
  transition: width 0.3s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

.about {
  position: relative;
  text-decoration: none;
}
.about::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: palevioletred;
  transition: width 0.3s ease-in-out;
}
.about:hover::after {
  width: 100%;
}

.contact {
  position: relative;
  text-decoration: none;
}
.contact::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: rgb(58, 16, 184);
  transition: width 0.3s ease-in-out;
}
.contact:hover::after {
  width: 100%;
}

.git {
  position: relative;
  text-decoration: none;
}
.git::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -10px;
  left: 0;
  background-color: chartreuse;
  transition: width 0.3s ease-in-out;
}
.git:hover::after {
  width: 100%;
}
